<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069616829571-r5q4e2gkl2jmohjb3a3mvteb2c5hgdcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069616829571-r5q4e2gkl2jmohjb3a3mvteb2c5hgdcn</string>
	<key>API_KEY</key>
	<string>AIzaSyC3lT1sdwEsvlHSu7nTR44jnxSQnMYKD8E</string>
	<key>GCM_SENDER_ID</key>
	<string>1069616829571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perumpallilAugg</string>
	<key>PROJECT_ID</key>
	<string>perumpallil-31-aug</string>
	<key>STORAGE_BUCKET</key>
	<string>perumpallil-31-aug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069616829571:ios:648fa6cfd454471d2377b6</string>
</dict>
</plist>